{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/index.md" role="button">{{ i18n "get-started" }}</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Storyline</h2>
          <p>Immerse yourself in a gripping storyline as you explore the enigmatic world of Exile Black. Discover the hidden truths, unravel the mysteries, and uncover the dark secrets that lie beneath the surface. Prepare to embark on an unforgettable journey filled with intrigue, betrayal, and unexpected twists.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Gameplay</h2>
          <p>Experience adrenaline-pumping, tactical gameplay in Exile Black. Engage in intense firefights, embark on daring missions, and utilize strategic thinking to overcome challenges. With realistic mechanics and immersive environments, every decision counts. Prepare for an immersive gaming experience that will keep you on the edge of your seat.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Dynamic Open World</h2>
          <p>Step into a vast and dynamic open world where every decision shapes your destiny. From the sprawling urban landscapes to the treacherous wilderness, Exile Black offers a diverse and ever-changing environment to explore. Uncover hidden locations, scavenge for resources, and encounter a range of dynamic events that will test your skills and survival instincts.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Base Building</h2>
          <p>Establish and fortify your own base of operations in Exile Black. Build structures, gather resources, and fortify defenses to create a sanctuary amidst the chaos. Customize your base to suit your playstyle, strategize to fend off enemy attacks, and ensure the survival of your comrades. Your base will become the heart of your operations in the fight against the darkness.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Cooperative Multiplayer</h2>
          <p>Surviving in Exile Black is not a solitary endeavor. Team up with friends or form alliances with other players in intense cooperative multiplayer. Coordinate your tactics, share resources, and combine your skills to overcome the challenges that await. Together, you can forge a formidable force against the looming threats of the world.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Evolve Your Character</h2>
          <p>In Exile Black, your character's journey is yours to shape. Progress through the game and unlock a vast array of skills, abilities, and equipment to customize your playstyle. Whether you prefer to be a stealthy infiltrator, a sharpshooting sniper, or a heavy-hitting tank, the choice is yours.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
